Latex/Manuel.aux
Latex/Manuel.fdb_latexmk
Latex/Manuel.fls
Latex/Manuel.log
Latex/Manuel.synctex.gz

Local/

Prog/.pio/
Prog/test/

Prog/Minicore/

Schematic/full-Schematic/Schematic-backups/
Schematic/full-Schematic/Schematic.kicad_prl
Schematic/full-Schematic/fp-info-cache
Schematic/full-Schematic/.*

Schematic/display-Schematic/display-Schematic-backups/
Schematic/display-Schematic/display-Schematic.kicad_prl
Schematic/display-Schematic/fp-info-cache
Schematic/display-Schematic/.*

Schematic/hardware-Schematic/hardware-Schematic-backups/
Schematic/hardware-Schematic/hardware-Schematic.kicad_prl
Schematic/hardware-Schematic/fp-info-cache
Schematic/hardware-Schematic/.*
